<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="d-flex justify-content-center">
            <a href="https://x.com" class="text-muted mx-3" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/whitelabelrobochat/" class="text-muted mx-3" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+5531998210115&text=Olá!" class="text-muted mx-3" target="_blank"> 
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://youtube.com/@whitelabel" class="text-muted mx-3" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://telegram.org" class="text-muted mx-3" target="_blank">
                <i class="fab fa-telegram"></i>
            </a>
        </div>
        <div class="small text-center text-muted mt-3">Copyright &copy; {% now "Y" %} - Boca a Boca</div>
    </div>  
</footer>